<div class="row">
  <app-contact-us class="spa0 col-12" />
  <div class="col-12 resources">
    <div class="container-xl">
      <div class="row">
        <div class="col-6 resources--head smb4">
          Explore our<br />
          resources
        </div>
        <div class="col-6 text-end align-self-center">
          <button class="primaryBtn secondaryBtn">VIEW ALL RESOURCES</button>
        </div>
        <div
          class="col-xs-12 col-sm-4"
          data-aos="fade-right"
          data-aos-duration="1000"
        >
          <div class="card resources--card">
            <img
              src="./../../assets/images/resource-image.png"
              class="card-img-top"
              alt="RESOURCES"
            />
            <div class="card-body">
              <h5 class="card-title">
                Three Ways Artificial Intelligence Will Improve Call Center
                Customer Service
              </h5>
              <button class="flatBtn c-p f600">
                EXPLORE RESOURCE <i class="bi bi-arrow-right"></i>
              </button>
            </div>
          </div>
        </div>
        <div
          class="col-xs-12 col-sm-4"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          <div class="card resources--card">
            <img
              src="./../../assets/images/resource-image.png"
              class="card-img-top"
              alt="RESOURCES"
            />
            <div class="card-body">
              <h5 class="card-title">
                Three Ways Artificial Intelligence Will Improve Call Center
                Customer Service
              </h5>
              <button class="flatBtn c-p f600">
                EXPLORE RESOURCE <i class="bi bi-arrow-right"></i>
              </button>
            </div>
          </div>
        </div>
        <div
          class="col-xs-12 col-sm-4"
          data-aos="fade-left"
          data-aos-duration="1000"
        >
          <div class="card resources--card">
            <img
              src="./../../assets/images/resource-image.png"
              class="card-img-top"
              alt="RESOURCES"
            />
            <div class="card-body">
              <h5 class="card-title">
                Three Ways Artificial Intelligence Will Improve Call Center
                Customer Service
              </h5>
              <button class="flatBtn c-p f600">
                EXPLORE RESOURCE <i class="bi bi-arrow-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-book-consultation [title]="title" (bookConsultEvt)="redirectFunction($event)" class="spa0 col-12" />
</div>
