@media (max-width: 600px) {
  .haveScroll{
    overflow-x: auto;
    table{
      width: 400px;
    }
  }

}


.error-msg,
.warning-msg,
.info-msg {
  color:rgba(255, 0, 0, 1);
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  position: relative;
  display: flex;
  padding-left: 0px;
  top: -10px;
  margin-bottom: 10px;

  &:before {
   // content: 'warning';
    font-family: 'Material Icons';
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
  }

  &+.error-msg {
    margin-top: 16px;
  }
}