<div class="row">
  <div class="col-12">
    <div class="row units align-items-top">
      <div class="col-12 align-just-center">
        <div class="row switch smb4">
          <div class="col-auto">
            <label class="form-check-label" for="flexSwitchCheckChecked"
              >Monthly</label
            >
          </div>
          <div class="col-auto m-45">
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                (change)="planDurationChange()"
                type="checkbox"
                id="flexSwitchCheckChecked"
                checked />
            </div>
          </div>
          <div class="col-auto">
            <label class="form-check-label" for="flexSwitchCheckChecked"
              >Annual (save up to 25%)</label
            >
          </div>
        </div>
      </div>
      <div class="haveScroll">
        <table>
          <thead>
            <tr>
              <th>Item</th>
              <th>Item Price</th>
              <th>Quantity</th>
              <th>Total Price</th>
            </tr>
          </thead>
          <tbody>
            @for (product of planCartItems; track product.type) {
              <tr>
                <td>
                  <div class="ellipsis-singleline">
                    {{ product.type }}
                  </div>
                </td>
                <td>
                  {{ product.amount.disValue }}
                </td>
                <td>
                  <div class="row g-1">
                    <div
                      class="col-auto"
                      (click)="decrementBundleQuantity(product)">
                      <i class="bi bi-dash-lg"></i>
                    </div>
                    <div class="col-auto">
                      <input
                        type="number"
                        [value]="product.quantity"
                        class="max-width-50" />
                    </div>
                    <div
                      class="col-auto"
                      (click)="incrementBundleQuantity(product)">
                      <i class="bi bi-plus-lg"></i>
                    </div>
                  </div>
                </td>
                <td>
                  {{ product.totalAmount.disValue }}
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-12">
    <h5>Customer Information</h5>
    <div class="haveScroll">
      <table class="sf600 plainTable">
        <tbody>
          <tr>
            <td>Contact</td>
            <td>
              <div class="ellipsis-singleline">{{getCustomerFullName()}} </div>
            </td>
            <td
              class="cursor-p"
              data-bs-toggle="modal"
              data-bs-target="#CustomerModal">
              Change
            </td>
          </tr>
          <tr>
            <td>Bill To</td>
            <td>
              <div class="ellipsis-singleline">
               {{getBillinAddress()}}
              </div>
            </td>
            <td
              class="cursor-p"
              data-bs-toggle="modal"
              data-bs-target="#CustomerModal">
              Change
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div
      class="modal fade"
      id="CustomerModal"
      tabindex="-1"
      aria-labelledby="CustomerLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Customer Information
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"></button>
          </div>
          <form [formGroup]="customerForm">
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <label>First name*</label>
                <input class="form-control" placeholder="First name*"  formControlName="firstName"/>
                <div
                class="error-msg mt-1"
                *ngIf="
                  f['firstName'].hasError('required')
                ">
                First name is required.
              </div>
              <div
                class="error-msg mt-1"
                *ngIf="
                  f['firstName'].hasError('pattern')
                ">
                First Name is only allow alpha characters.
              </div>
              <div
                class="error-msg mt-1"
                *ngIf="
                 
                  f['firstName'].hasError('maxlength')
                ">
                Maximum length of 40 characters exceeded.
              </div>
              <div
                class="error-msg mt-1"
                *ngIf="
                
                  f['firstName'].hasError('minlength')
                ">
                Minimum 3 characters is required.
              </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <label>Last name*</label>
                <input class="form-control" placeholder="Last name*" formControlName="lastName"/>
                <div
                class="error-msg mt-1"
                *ngIf="
                  f['lastName'].dirty &&
                  f['lastName'].hasError('required')
                ">
                Last name is required.
              </div>
              <div
                class="error-msg mt-1"
                *ngIf="
                  f['lastName'].dirty && f['lastName'].hasError('pattern')
                ">
                Last Name is only allow alpha characters.
              </div>
              <div
                class="error-msg mt-1"
                *ngIf="
                  f['lastName'].dirty &&
                  f['lastName'].hasError('maxlength')
                ">
                Maximum length of 40 characters exceeded.
              </div>
              <div
                class="error-msg mt-1"
                *ngIf="
                  f['lastName'].dirty &&
                  f['lastName'].hasError('minlength')
                ">
                Minimum 3 characters is required.
              </div>
              </div>
              <div class="col-xs-12">
                <label
                  >Email*<br />
                  Please enter a valid company email address</label
                >
                <input class="form-control" placeholder="Email*" formControlName="billingEmail"/>
                <div
                class="error-msg mt-1"
                *ngIf="
                  f['billingEmail'].dirty &&
                  f['billingEmail'].hasError('required')
                ">
                Business Email is required
              </div>
              <div
                class="error-msg mt-1"
                *ngIf="
                  f['billingEmail'].dirty &&
                  f['billingEmail'].hasError('pattern')
                ">
                Business Email is invalid
              </div>
              <div
                class="error-msg mt-1"
                *ngIf="
                  f['billingEmail'].dirty &&
                  f['billingEmail'].hasError('isVerify')
                ">
                Business Email address is not verified.
              </div>
              </div>
              <div class="col-xs-12">
                <h6>Billing</h6>
              </div>
              <div class="col-xs-12">
                <label>Country / Region*</label>
                <input class="form-control" placeholder="Country / Region*" formControlName="region"/>
              </div>
              <div class="col-xs-12">
                <label>Street address*</label>
                <input class="form-control" placeholder="Street address*" formControlName="street"/>
              </div>
              <div class="col-xs-12 col-sm-4">
                <label>City*</label>
                <input class="form-control" placeholder="City*" formControlName="city"/>
              </div>
              <div class="col-xs-12 col-sm-4">
                <label>State*</label>
                <select class="form-select" aria-label="Default select example" formControlName="state">
                  <option selected>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="col-xs-12 col-sm-4">
                <label>ZIP Code*</label>
                <input class="form-control" placeholder="ZIP Code*" formControlName="zipCode" />
              </div>
              <div class="col-xs-12">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckDefault" 
                    formControlName="isSubscribed"/>
                  <label class="form-check-label" for="flexCheckDefault">
                    Sign me up to receive email updates and news
                  </label>
                </div>
              </div>
            </div>
          </div>
          </form>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal">
              Close
            </button>
            <button data-bs-dismiss="modal" type="button" (click)="saveCustomerInfo()" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
