<div class="about-page">
  <div class="row">
    <div class="col-12 about-page-banner">
      <video autoplay muted loop playsinline>
        <source src="./../../assets/images/about-us.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
      <div class="container-xl">
        <div class="inner-banner">
          <h2 class="f-p" data-aos="flip-up" data-aos-duration="500">
            We empower strategic advantage
          </h2>
          <p class="f-m" data-aos="fade-down" data-aos-duration="600">
            We provide a comprehensive range of professional services paired
            with cutting-edge technology to make your call center more efficient
            and profitable.
          </p>
          <div>
            <button
              type="button"
              class="primaryBtn text-uppercase"
              data-aos="fade-down"
              data-aos-duration="600"
            >
              LET'S CHAT
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="container-xl">
        <div
          class="lightBlue who-we-are"
          data-aos="fade-down"
          data-aos-duration="500"
        >
          <div class="row">
            <div
              class="col-md-12 col-lg-6"
              data-aos="fade-right"
              data-aos-duration="800"
            >
              <div class="cont">
                <h6 class="f-m">Who we are</h6>
                <h3 class="f-p">
                  Bridging Cutting-Edge Technology with Contact Center Expertise
                </h3>
                <p class="f-a">
                  With its advanced network, deep IP expertise, and a wealth of
                  next-generation services, Kunnect is your strategic partner in
                  leveraging technology for a competitive edge. We understand
                  that your enterprise demands secure, reliable, and seamless
                  Hosted Call Center SIP connectivity, and Kunnect delivers with
                  the simplicity and quality of service you need to stay ahead
                  today and tomorrow.
                </p>
              </div>
            </div>
            <div
              class="col-md-12 col-lg-6 img-col"
              data-aos="fade-left"
              data-aos-duration="800"
            >
              <img src="../../assets/images/who-we-are.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="container-xl">
        <div class="img-card-row">
          <div
            class="img-card-col"
            data-aos="fade-right"
            data-aos-duration="500"
          >
            <div class="img-card-cont">
              <h4 class="f-p">Innovation</h4>
              <p class="f-a">
                At the forefront of innovation, Kunnect is heavily investing in
                enterprise capabilities and network improvements to support
                next-generation, IP-based services like VoIP. As an industry
                leader, we're committed to providing convergence-enabling
                technologies and hosted services that accelerate your transition
                to IP.
              </p>
              <figure>
                <img src="../../assets/images/innovation-icon.svg" alt="" />
              </figure>
            </div>
          </div>
          <div
            class="img-card-col"
            data-aos="fade-left"
            data-aos-duration="500"
          >
            <div class="img-card-cont">
              <h4 class="f-p">US-based with Global Presence</h4>
              <p class="f-a">
                Based in Fort Lauderdale, Florida, Kunnect has a global presence
                across North America, Europe, and Asia. No matter where you are,
                Kunnect ensures you're connected and ready to compete.
              </p>
              <figure>
                <img src="../../assets/images/globe-icon.svg" alt="" />
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="container-xl">
        <div class="powered-by">
          <div
            class="powered-by-col"
            data-aos="fade-down"
            data-aos-duration="500"
          >
            <div class="cont">
              <span class="f-m">Powered by the best</span>
              <h6 class="f-p">Our Partners</h6>
              <p class="f-a">
                Kunnect works with industry-leading technologies to offer
                tailored services, coaching, and support to complement our
                software solutions, no matter where you are on your strategy
                journey.
              </p>
            </div>
          </div>
          <div class="powered-by-col">
            <div
              class="company-col"
              data-aos="fade-right"
              data-aos-duration="500"
            >
              <figcaption>
                <img
                  src="../../assets/images/amazon-webservices-logo.svg"
                  alt=""
                />
              </figcaption>
              <p class="f-a">
                Cloud computing is poised to be a significant player in the tech
                industry now and in the foreseeable future. In its ultimate
                form, it will provide the means for IT to be delivered to
                consumers as a service. The number of products and services
                offerings in the cloud computing space continues to grow and
                underscores the fact that it is where things are heading.
              </p>
            </div>
            <div
              class="company-col"
              data-aos="fade-left"
              data-aos-duration="500"
            >
              <figcaption>
                <img src="../../assets/images/microsoft-logo.svg" alt="" />
              </figcaption>
              <p class="f-a">
                Microsoft's .Net solutions provide Kunnect with robust
                interfaces for its management interface as well as its Web
                Agent.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-contact-us class="spa0 col-12" />
    <div class="col-12 resources">
      <div class="container-xl">
        <div class="row">
          <div class="col-6 resources--head smb4">
            Explore our<br />
            resources
          </div>
          <div class="col-6 text-end align-self-center">
            <button class="primaryBtn secondaryBtn">VIEW ALL RESOURCES</button>
          </div>
          <div
            class="col-sm-12 col-md-4"
            data-aos="fade-right"
            data-aos-duration="1000"
          >
            <div class="card resources--card">
              <img
                src="./../../assets/images/resource-image.png"
                class="card-img-top"
                alt="RESOURCES"
              />
              <div class="card-body">
                <h5 class="card-title">
                  Three Ways Artificial Intelligence Will Improve Call Center
                  Customer Service
                </h5>
                <button class="flatBtn c-p f600">
                  EXPLORE RESOURCE <i class="bi bi-arrow-right"></i>
                </button>
              </div>
            </div>
          </div>
          <div
            class="col-sm-12 col-md-4"
            data-aos="fade-up"
            data-aos-duration="1000"
          >
            <div class="card resources--card">
              <img
                src="./../../assets/images/resource-image.png"
                class="card-img-top"
                alt="RESOURCES"
              />
              <div class="card-body">
                <h5 class="card-title">
                  Three Ways Artificial Intelligence Will Improve Call Center
                  Customer Service
                </h5>
                <button class="flatBtn c-p f600">
                  EXPLORE RESOURCE <i class="bi bi-arrow-right"></i>
                </button>
              </div>
            </div>
          </div>
          <div
            class="col-sm-12 col-md-4"
            data-aos="fade-left"
            data-aos-duration="1000"
          >
            <div class="card resources--card">
              <img
                src="./../../assets/images/resource-image.png"
                class="card-img-top"
                alt="RESOURCES"
              />
              <div class="card-body">
                <h5 class="card-title">
                  Three Ways Artificial Intelligence Will Improve Call Center
                  Customer Service
                </h5>
                <button class="flatBtn c-p f600">
                  EXPLORE RESOURCE <i class="bi bi-arrow-right"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-book-consultation [title]="title" class="spa0 col-12" />
  </div>
</div>
