<div class="chat-panel">
  <div class="title">
    <div class="title-info">
      <strong>John Doe</strong>
      <span>
        <i class="bi bi-circle-fill"></i>
        Online</span
      >
    </div>
    <button><i class="bi bi-x"></i></button>
  </div>
  <div class="chat-body">
    <div class="msg-block customer">
      <img src="../../../assets/images/user-1.png" alt="" />
      <div class="cont">
        <div class="msg">
          <span>omg, this is amazing</span>
        </div>
        <div class="msg">
          <span>perfect! ✅</span>
        </div>
        <div class="msg">
          <span>Wow, this is really epic</span>
        </div>
      </div>
    </div>
    <div class="msg-block agent">
      <img src="../../../assets/images/user-2.png" alt="" />
      <div class="cont">
        <div class="msg">
          <span>How are you?</span>
        </div>
      </div>
    </div>
    <div class="msg-block customer">
      <img src="../../../assets/images/user-2.png" alt="" />
      <div class="cont">
        <div class="msg">
          <span>just ideas for next time</span>
        </div>
        <div class="msg">
          <span>I'll be there in 2 mins</span>
        </div>
      </div>
    </div>
    <div class="msg-block agent">
      <img src="../../../assets/images/user-2.png" alt="" />
      <div class="cont">
        <div class="msg">
          <span>woohoooo</span>
        </div>
        <div class="msg">
          <span>Haha oh man</span>
        </div>
        <div class="msg">
          <span>Haha that's terrifying </span>
        </div>
      </div>
    </div>
  </div>
  <div class="chat-actions">
    <div class="input-block">
      <input type="text" />
    </div>
    <div class="actions">
      <button>
        <i class="bi bi-emoji-smile"></i>
      </button>
      <button>
        <i class="bi bi-file-earmark-text"></i>
      </button>
      <button class="send">
        <i class="bi bi-send-fill"></i>
      </button>
    </div>
  </div>
</div>
