<div class="pricing-table">
  <div class="title">
    <h3 class="f-p" data-aos="fade-down" data-aos-duration="500">
      Pricing Plans
    </h3>

    <p class="f-m" data-aos="fade-down" data-aos-duration="600">
      Plans to help every business dominate customer service for today's world
    </p>
    <div>
      <div class="row switch">
        <div class="col-auto">
          <label class="form-check-label">Monthly</label>
        </div>
        <div class="col-auto m-45">
          <div class="form-check form-switch">
            <input
              (change)="planDurationChange()"
              [value]="planPeriod"
              class="form-check-input"
              type="checkbox"
              id="flexSwitchCheckChecked"
              checked
            />

          </div>
        </div>
        <div class="col-auto">
          <label class="form-check-label">Annual (save up to 25%)</label>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="custom-table">
      <thead>
        <tr>
          <th width="28%"></th>
          <th width="18%">
            <span class="col-title">Trial</span>
          </th>
          <th width="18%">
            <span class="col-title">Startup</span>
          </th>
          <th width="18%">
            <span class="col-title">Growth</span>
          </th>
          <th width="18%">
            <span class="col-title">Scale</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <span class="price-label">
              Select a plan based on your exact needs
            </span>
          </td>
          <td>
            <div class="price-col">
              <span>$-</span>
            </div>
          </td>
          <td>
            <div class="price-col">
              <span>{{priceDetByDuration['StartUp'].disValue}}</span>
            </div>
          </td>
          <td>
            <div class="price-col">
              <span>{{priceDetByDuration['Growth'].disValue}}</span>
            </div>
          </td>
          <td>
            <div class="price-col">
              <span>{{priceDetByDuration['Scale'].disValue}}</span>
            </div>
          </td>
        </tr>
        <tr class="sub-title">
          <td colspan="5">
            <span class="price-label">License Types</span>
          </td>
        </tr>
        @for (license of plans.licenses; track license.name) {
        <tr class="sub-tr">
          <td>
            <span class="price-label"> {{ license.name }} </span>
          </td>
          <td>
            <div *ngIf="getDataType(license.trial, 'cross')" class="check-icon">
              <i class="bi bi-x-lg"></i>
            </div>
            <div *ngIf="getDataType(license.trial, 'tick')" class="check-icon">
              <i class="bi bi-check-lg"></i>
            </div>
            <div *ngIf="isText(license.trial)" class="check-icon">
              {{ license.trial }}
            </div>
          </td>
          <td>
            <div
              *ngIf="getDataType(license.startUp, 'cross')"
              class="check-icon"
            >
              <i class="bi bi-x-lg"></i>
            </div>
            <div *ngIf="getDataType(license.startUp, 'tick')" class="check-icon">
              <i class="bi bi-check-lg"></i>
            </div>
            <div *ngIf="isText(license.startUp)" class="check-icon">
              {{ license.startUp }}
            </div>
          </td>
          <td>
            <div
              *ngIf="getDataType(license.growth, 'cross')"
              class="check-icon"
            >
              <i class="bi bi-x-lg"></i>
            </div>
            <div *ngIf="getDataType(license.growth, 'tick')" class="check-icon">
              <i class="bi bi-check-lg"></i>
            </div>
            <div *ngIf="isText(license.growth)" class="check-icon">
              {{ license.growth }}
            </div>
          </td>
          <td>
            <div *ngIf="getDataType(license.scale, 'cross')" class="check-icon">
              <i class="bi bi-x-lg"></i>
            </div>
            <div *ngIf="getDataType(license.scale, 'tick')" class="check-icon">
              <i class="bi bi-check-lg"></i>
            </div>
            <div *ngIf="isText(license.scale)" class="check-icon">
              {{ license.scale }}
            </div>
          </td>
        </tr>
        }

        <tr class="sub-title">
          <td colspan="5">
            <span class="price-label">Features</span>
          </td>
        </tr>
        @for (feature of plans.features; track feature.name) {
        <tr class="sub-tr">
          <td>
            <span class="price-label"> {{ feature.name }} </span>
          </td>
          <td>
            <div *ngIf="getDataType(feature.trial, 'cross')" class="check-icon">
              <i class="bi bi-x-lg"></i>
            </div>
            <div *ngIf="getDataType(feature.trial, 'tick')" class="check-icon">
              <i class="bi bi-check-lg"></i>
            </div>
            <div *ngIf="isText(feature.trial)" class="check-icon">
              {{ feature.trial }}
            </div>
          </td>
          <td>
            <div
              *ngIf="getDataType(feature.startUp, 'cross')"
              class="check-icon"
            >
              <i class="bi bi-x-lg"></i>
            </div>
            <div *ngIf="getDataType(feature.startUp, 'tick')" class="check-icon">
              <i class="bi bi-check-lg"></i>
            </div>
            <div *ngIf="isText(feature.startUp)" class="check-icon">
              {{ feature.startUp }}
            </div>
          </td>
          <td>
            <div
              *ngIf="getDataType(feature.growth, 'cross')"
              class="check-icon"
            >
              <i class="bi bi-x-lg"></i>
            </div>
            <div *ngIf="getDataType(feature.growth, 'tick')" class="check-icon">
              <i class="bi bi-check-lg"></i>
            </div>
            <div *ngIf="isText(feature.growth)" class="check-icon">
              {{ feature.growth }}
            </div>
          </td>
          <td>
            <div *ngIf="getDataType(feature.scale, 'cross')" class="check-icon">
              <i class="bi bi-x-lg"></i>
            </div>
            <div *ngIf="getDataType(feature.scale, 'tick')" class="check-icon">
              <i class="bi bi-check-lg"></i>
            </div>
            <div *ngIf="isText(feature.scale)" class="check-icon">
              {{ feature.scale }}
            </div>
          </td>
        </tr>
        }
        <tr>
          <td></td>
          <td>
            <div class="text-center">
              <button  class="primaryBtn">
                Start Trial
              </button>
            </div>
          </td>
          <td>
            <div class="text-center">
              <button (click)="buyPlan('StartUp')" class="primaryBtn">
                Buy Now
              </button>
            </div>
          </td>
          <td>
            <div class="text-center">
              <button (click)="buyPlan('Growth')" class="primaryBtn">
                Buy Now
              </button>
            </div>
          </td>
          <td>
            <div class="text-center">
              <button (click)="buyPlan('Scale')" class="primaryBtn">
                Buy Now
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
