<div class="row selfcheckoutScreen demo">
  <div class="col-12">
    <div class="container-xl">
      <div class="row smt12">
        <div class="col-xs-12 col-sm-4 col-md-6 f-m">
          <h4>TALK WITH INDUSTRY EXPERTS</h4>
          <h1 class="animated-heading f-p">
            <!-- <span *ngFor="let letter of headingArray; let i = index" [style.animationDelay]="i * animationDuration + 's'">
              {{ letter }}
            </span> -->
            Experience <br />
            Real Results <br />
            with <span>Kunnect</span>
          </h1>
          <ul>
            <li>
              <img src="./../../assets/images/list-bg-4.png" alt="" />
              Get a personalized demo of our Call Center Solution to tackle your specific challenges.
            </li>
            <li>
              <img src="./../../assets/images/list-bg-4.png" alt="" />
              See how our over ten years of experience in delivering nearshore support services enhance customer interactions and reduce operational costs.
            </li>
            <li>
              <img src="./../../assets/images/list-bg-4.png" alt="" />
              Discover past success in improving productivity and customer satisfaction across various industries and regions.
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-6 haveForm selfcheckout">
          <div class="row ">
            <div class="col-12">
              <h5 class="smb3">Schedule a consultation today!</h5>
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <label>First name*</label>
                    <input class="form-control" placeholder="First name*">
                </div>
                <div class="col-xs-12 col-sm-6">
                  <label>Last name*</label>
                    <input class="form-control" placeholder="Last name*">
                </div>
                <div class="col-xs-12">
                  <label>Email*<br />
                    Please enter a valid company email address</label>
                    <input class="form-control" placeholder="Email*">
                </div>
                <div class="col-xs-12">
                  <label>Is there anything in particular you want to discuss? Please tell us how we can ensure the best use of your time.</label>
                    <textarea rows="7" class="form-control" placeholder="Country / Region*"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-transform-customer-service class="spa0 col-12" />
</div>
