<div class="row appFooter animate__bounce">
  <div class="col-12 appFooter__main">
    <div class="container-xl">
      <div class="row f-a">
        <div class="col-xs-12 col-sm-6 col-md-3 smb3">
          <img src="assets/images/footer-logo.png" alt="Logo" />
          <span class="sfont12 spr2">
            Kunnect empowers your organization to increase productivity, reduce
            operational costs, and improve customer satisfaction, making it the
            ideal choice for businesses seeking a reliable and efficient call
            center solution. Experience the difference with KUNNECT and
            transform your customer interactions today.
          </span>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 smb3">
          <p>SERVICES</p>

          <ul>
            <li>24/7/365 Customer Service</li>
            <li>Third party Integration</li>
            <li>&nbsp;</li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <p>GET IN TOUCH</p>
          <ul>
            <li>
              <a href="mailto:info@kunnect.com"> info&#64;kunnect.com </a>
            </li>
            <li>
              877.586.6328 <br />
              1.954.271.1329
            </li>
            <li>Ft. Lauderdale, FL</li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <p>PLANNING TOOLS</p>
          <p class="cursor-p" routerLink="/contact-us" routerLinkActive="active">
            Contact Us
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 appFooter__copy">
    <div class="container-xl">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <ul class="nav">
            <li class="nav-item" routerLink="/privacy"> Privacy Statement</li>
            <li class="nav-item" routerLink="/terms"> Terms & Conditions</li>
            <li class="nav-item">Sitemap</li>
            <li class="nav-item">Security Policy</li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4">
          Copyright 2024. Invictus. All Rights Reserved.
        </div>
      </div>
    </div>
  </div>
</div>