<div class="row">
  <div class="col-12 featureGuide">
    <div class="container-xl">
      <div class="row align-items-center">
        <div class="col-xs-12 col-sm-6">
          <strong>FEATURED GUIDE:</strong> How to modernize your call center
          <button class="flatBtn f600 white-color">
            Read it now <i class="bi bi-arrow-right"></i>
          </button>
        </div>
        <div class="col-xs-6 text-end col-sm-6">
          <i class="bi bi-x-square-fill"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 clientHead">
    <div class="container-xl">
      <div class="row align-items-center">
        <!-- Left: Logo and Label -->
        <div class="col-lg-6 col-md-6 d-flex align-items-center">
          <img src="assets/images/invictus-logo.png" alt="Logo">
          <ul class="nav justify-content-center">
            <li class="nav-item mx-4">
              WHY INVICTUS
            </li>
            <li class="nav-item">
              CONTACT CENTER SERVICES
            </li>
            </ul>

        </div>
        <!-- Right: Search, Log In, Support -->
        <div class="col-lg-6 col-md-6 text-end">
          <span  class="text-white me-3"><i class="bi bi-search"></i> Search</span>
          <span  class="text-white mx-4"><i class="bi bi-person"></i> Log In</span>
          <span  class="text-white"><i class="bi bi-headset"></i> Support</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 konnectHead">
    <div class="container-xl">
      <div class="row align-items-center">
        <!-- Left: Kunect Brand -->
        <div class="col-lg-2 col-md-3">
          <img src="assets/images/kunnect-logo.png" alt="Explore Column">
        </div>
        <!-- Center: Navigation Links -->
        <div class="col-lg-6 col-md-5">
          <ul class="nav headnav justify-content-center">
            <li class="nav-item">
              PLATFORM
            </li>
            <li class="nav-item dropdown">
              <a class=" dropdown-toggle" href="#" id="solutionsDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                SOLUTIONS
              </a>
              <ul class="dropdown-menu" aria-labelledby="solutionsDropdown">
                <li>Outbound Call Center</li>
                <li>Inbound Call Center</li>
                <li>Back Office Optimization</li>
                <li>Managing Performance</li>
              </ul>
            </li>
            <li class="nav-item">
              PRICING
            </li>
            <li class="nav-item">
              ABOUT
            </li>
          </ul>
        </div>
        <!-- Right: Buttons -->
        <div class="col-lg-4 col-md-4 text-end">
          <button type="button" class="primaryBtn border">SIGN UP NOW</button>
          <button type="button" class="primaryBtn ms-4">LET’S TALK</button>
        </div>
      </div>
    </div>
  </div>
</div>
