.contactUs {
  background: #1a1b2b;
  color: white;
  text-align: center;
  padding: 100px 0;
  a {
    color: white;
    text-decoration: none;
    margin-top: 8px;
    display: inline-block;
  }
  p {
    color: #7fc338;
    font-size: 24px;
    font-weight: 500;
  }
  &--each {
    text-align: left;
    padding: 24px 48px;
    border: 3px solid #eaffcf;
    border-radius: 12px;
    min-height: 290px;
    background: #30313E;
    h5 {
      text-align: center;
      // margin-bottom: 38px;
      font-family: "Montserrat", sans-serif;
    }
    .row {
      flex-wrap: nowrap;
    }
    .column {
      width: 140px;
      margin: 0 auto;
      img {
        margin-right: 10px;
      }
    }
    // border-image:  linear-gradient(113.11deg, #8FC44C -3.91%, #FFFFFF 44.91%, rgba(143, 196, 76, 0.7) 73.71%);
    // border-radius: 15px; /* this doesn't work */
    // border-width: 4px;
    // border-style: solid;
    // border-image-slice: 1;
    &:hover{
      background: linear-gradient(131.64deg, #5D5E7A 5.43%, #30313E 95.1%);
    }
  }
  @media (max-width: 991px) {
    &--row {
      //gap: 20px;
    }
    &--each {
      padding: 16px;
      min-height: 330px;
      h5 {
        text-align: left;
        margin-bottom: 20px !important;
      }
      .column {
        width: inherit;
      }
      img {
        width: 30px;
      }
      .row {
        flex-direction: column;
        gap: 10px;
      }
    }
  }
}
