<div class="row resourcesPage">
  <div class="col-12 resourcesPage--banner">
    <div class="container-xl">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="text-center" data-aos="fade-down" data-aos-duration="1000">
            Resources
          </h1>
        </div>
        <div
          class="col-xs-12 col-md-8 pageBanner"
          data-aos="fade-right"
          data-aos-duration="1000">
          <div class="gradiunt"></div>
          <img src="./../../assets/images/posts/main-post.png" alt="" />
          <h3>
            Three Ways Artificial Intelligence Will Improve Call Center Customer
            Service
          </h3>
          <span>Read more</span>
        </div>
        <div
          class="col-xs-12 col-md-4"
          data-aos="fade-left"
          data-aos-duration="1000">
          <div class="column bannerContent">
            <div class="col">
              <h4>Trending Posts</h4>
            </div>
            <div class="col">
              <img src="./../../assets/images/posts/post-1.png" alt="" />
              Ask Yourself These Five Questions Before Moving to the Cloud
            </div>
            <div class="col">
              <img src="./../../assets/images/posts/post-2.png" alt="" />
              How To Sell Your Colleagues on the Cloud
            </div>
            <div class="col">
              <img src="./../../assets/images/posts/post-3.png" alt="" />
              Why Saying Yes Is So Important In Customer Service 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container">
      <div>
        <div style="float: left">
          <button (click)="scrollLeft()">left</button>
        </div>
        <div #widgetsContent class="middle">
          <div class="info-widget" *ngFor="let category of wPCategories">
            <button (click)="tabChange(category)">
              {{ getCategoryName(category) }}
            </button>
          </div>
        </div>
        <div style="float: right">
          <button (click)="scrollRight()">right</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="activeCategory" id="activeCategory.id">
    <div class="row">
      <div
        class="col-xs-12 col-sm-6 col-md-4"
        data-aos="fade-up"
        *ngFor="let post of wPPosts"
        data-aos-duration="1000">
        <div class="card resources--card hasBorder">
          <img
            *ngIf="post.jetpack_featured_media_url"
            [src]="post.jetpack_featured_media_url"
            class="card-img-top"
            alt="RESOURCES" />
          <div class="card-body">
            <div [innerHTML]="post.title.rendered"></div>
            <button class="flatBtn c-p f600" (click)="goToPost(post)">
              READ MORE <i class="bi bi-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="col-xs-12 text-center smy3">
        <button type="button" class="primaryBtn">LOAD MORE</button>
      </div>
    </div>
  </div>
  <app-book-consultation [title]="title" class="spa0 col-12" />
</div>
