<ngx-extended-pdf-viewer [showPrintButton]="false" [showPrintButton]="false" [showDownloadButton]="false"
    [showRotateButton]="false" [showHandToolButton]="false"  [showHighlightEditor]="false"
    [showSecondaryToolbarButton]="false"
    
    [showPagingButtons]="false" 
    [showSidebarButton]="false"
    [showTextEditor]="false" [showDrawEditor]="false" [showOpenFileButton]="false" [showStampEditor]="false"
    [src]="'https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf'">
</ngx-extended-pdf-viewer>
<!-- [showZoomButtons]="false" -->
 