<div class="col-xs-12 productInfo">
    <div class="row sma0">
      <div class="col-xs-12 line">
        <div class="row align-items-center">
          <div class="col">
            Product
          </div>
          <div class="col"></div>
          <div class="col text-end">
            Subtotal
          </div>
        </div>
      </div>
      <div class="col-xs-12 line">
        <div class="row align-items-center">
          <div class="col-auto">
            <img src="assets/images/licence-image.png" alt="UN" />
          </div>
          <div class="col-5">All Inclusive  - Kunnect License Seat</div>
          <div class="col-auto sf600">
            x{{noOfLicenses}}
          </div>
          <div class="col text-end sf400">
            ${{subTotalAmount}}
          </div>
        </div>
      </div>
      <div class="col-xs-12 line sf600">
        <div class="row align-items-center  smb3">
          <div class="col">
            Subtotal
          </div>
          <div class="col"></div>
          <div class="col text-end">
            ${{subTotalAmount}}
          </div>
        </div>
        <div class="row align-items-center ">
          <div class="col">
            Tax
          </div>
          <div class="col"></div>
          <div class="col text-end">
            $154.69
          </div>
        </div>
      </div>
      <div class="col-xs-12 ">
        <div class="row sf700 sfont20 smb3">
          <div class="col ">
            Due today
          </div>
          <div class="col"></div>
          <div class="col text-end">
            $2,029.69
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col sfont15 sf600">
            Due monthly starting on
            XX/XX/XXXX
          </div>
          <div class="col text-end sfont20 sf600">
            $2,029.69
          </div>
        </div>
      </div>
    </div>
  </div>
