@import "./colors.scss";
.cardwithoutimg{
  padding: 20px 30px 20px;
  border: solid 4px #a496ba;
  border-radius: 30px;
  margin-bottom: 24px;
  h2{
    font-family: "Poppins", sans-serif;
    color: #7540C4;
    font-size: 36px;
    font-weight: 600;
    margin: 40px 0;
  }
  p{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 16px;
    line-height: 27px;
  }
  &:hover{
    background: linear-gradient(130.55deg, #F3FEE4 20.61%, #FFFFFF 96.48%);
  }
}
