<div class="solutions-page">
  <div class="row">
    <div class="col-12 solutions-page-banner">
      <video autoplay muted loop playsinline class="haveVideo--video">
        <source
          src="./../../assets/images/solutions-video.mp4"
          type="video/mp4"
        />
        Your browser does not support the video tag.
      </video>
      <div class="container-xl">
        <div class="inner-banner">
          <span class="f-m" data-aos="fade-right" data-aos-duration="1200">
            Inbound Call Center Solution
          </span>
          <h2 class="f-p" data-aos="fade-down" data-aos-duration="800">
            {{ herosConfig.title }}
          </h2>
          <p class="f-m" data-aos="fade-down" data-aos-duration="1000">
            {{ herosConfig.description }}
          </p>
          <button
            type="button"
            class="primaryBtn text-uppercase"
            data-aos="fade-down"
            data-aos-duration="600"
          >
            GET A PERSONALIZED DEMO
          </button>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="container-xl">
        <div class="title">
          <h2 class="f-p" data-aos="fade-down" data-aos-duration="500">
            Inbound contact management is not just about high performance
          </h2>
        </div>

        <div class="cm-row">
          <div class="cm-col" data-aos="fade-right" data-aos-duration="500">
            <div class="cont">
              <p class="f-p">
                Target your campaigns with tailored scripts for maximum impact
              </p>
            </div>
          </div>
          <div class="cm-col" data-aos="flip-up" data-aos-duration="500">
            <div class="cont">
              <p class="f-p">Executing post-call actions with precision</p>
            </div>
          </div>
          <div class="cm-col" data-aos="fade-left" data-aos-duration="500">
            <div class="cont">
              <p class="f-p">
                Evaluating both business impact and operational performance
              </p>
            </div>
          </div>
          <div class="cm-col" data-aos="fade-right" data-aos-duration="500">
            <div class="cont">
              <p class="f-p">
                Connecting with the right contacts, the right way, through
                effective phone calls
              </p>
            </div>
          </div>
          <div class="cm-col" data-aos="flip-up" data-aos-duration="500">
            <div class="cont">
              <p class="f-p">Delivering on your commitment to follow up</p>
            </div>
          </div>
          <div class="cm-col" data-aos="fade-left" data-aos-duration="500">
            <div class="cont">
              <p class="f-p">
                Maximizing efficiency with optimized blended agent performance
              </p>
            </div>
          </div>
        </div>
        <div class="client-logos">
          <div class="label-txt">
            <h4 class="f-p">Trusted by the best:</h4>
          </div>

          <div class="logo-slider">
            <div class="item">
              <img alt="" src="../../assets/images/client-logo/jpmorgan.png" />
            </div>
            <div class="item">
              <img alt="" src="../../assets/images/client-logo/wallmart.png" />
            </div>
            <div class="item">
              <img alt="" src="../../assets/images/client-logo/samsung.png" />
            </div>
            <div class="item">
              <img alt="" src="../../assets/images/client-logo/amazon.png" />
            </div>
            <div class="item">
              <img alt="" src="../../assets/images/client-logo/lenovo.png" />
            </div>
            <div class="item">
              <img alt="" src="../../assets/images/client-logo/microsoft.png" />
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-12 lightBlue stay-connected">
      <div class="container-xl">
        <div class="title">
          <p class="f-m" data-aos="fade-down" data-aos-duration="500">
            Reliable and efficient call center solution
          </p>
          <h2 class="f-p" data-aos="fade-down" data-aos-duration="600">
            Stay Connected and Keep Your Promises
          </h2>
        </div>
        <div class="custom-tabs vertical-tabs">
          <div class="row">
            <div class="col-md-3 col-lg-4">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-bs-toggle="tab" href="#tab1">
                    Predictive Dialer
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-bs-toggle="tab" href="#tab2">
                    Call Center Scripting
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-bs-toggle="tab" href="#tab3">
                    Digital Recording
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-bs-toggle="tab" href="#tab4">
                    FTC Compliance
                  </a>
                </li>
              </ul>
              <button type="button" class="primaryBtn smt3 lets-chat">
                LET'S CHAT
              </button>
            </div>
            <div class="col-md-9 col-lg-8">
              <div class="tab-content">
                <div id="tab1" class="tab-pane active">
                  <div class="stay-connected-cont">
                    <h4 class="f-p">Predictive Dialer</h4>
                    <p>
                      iKunnect's sophisticated cloud-based predictive dialing
                      system ensures you stay connected and meet commitments
                      with structured, automated outbound right-party contact.
                      Our platform offers:
                    </p>
                    <ul>
                      <li>
                        <strong>Flexible Dialing Modes:</strong>
                        Supports both predictive and preview dialer for optimal
                        productivity and adaptability to your needs.
                      </li>
                      <li>
                        <strong>Post-Call Actions:</strong>
                        Automate tasks like printing invoices or lead sheets to
                        streamline post-call processes.
                      </li>
                      <li>
                        <strong>Advanced Dialing Algorithms:</strong>
                        Leverage real-time call center data to optimize outbound
                        activity and maximize efficiency.
                      </li>
                      <li>
                        <strong>Lead Transfers and 3-Way Calls:</strong>
                        Seamlessly transfer leads to closers or initiate
                        third-party verification (TPV) with 3-way calling.
                      </li>
                      <li>
                        <strong>Call Screening Efficiency:</strong>
                        Automatically filters out over 90% of answering
                        machines, busy signals, faxes, and operator intercepts.
                      </li>
                      <li>
                        <strong>Comprehensive Campaign Management:</strong>
                        Utilize sophisticated management tools and agent
                        analytics for optimal performance with a personal touch.
                      </li>
                      <li>
                        <strong>Customized Scripting:</strong>
                        Equip your agents with the right information to follow
                        processes and say the right thing at the right time.
                      </li>
                      <li>
                        <strong>FTC Compliance:</strong>
                        Fully meets Telemarketing Sales Rule requirements,
                        delivering over 25 contacts per hour while ensuring
                        compliance.
                      </li>
                    </ul>
                  </div>
                </div>
                <div id="tab2" class="tab-pane fade">
                  <div class="stay-connected-cont">
                    <h4 class="f-p">Call Center Scripting</h4>
                    <p>
                      Kunnect's Call Scripting tool empowers you to easily
                      design custom scripts, seamlessly integrated with your
                      lead database for a more personalized and efficient call
                      handling process. Here's how our scripting tool enhances
                      your operations:
                    </p>
                    <ul>
                      <li>
                        <strong>Context-Sensitive Scripting:</strong>
                        Provide agents with scripts tailored to telephony data,
                        contact details, and business information, ensuring
                        relevant and effective communication.
                      </li>
                      <li>
                        <strong>Dynamic Transaction Routing:</strong>
                        Guide the call flow based on user responses and
                        real-time activity, adapting dynamically to each
                        interaction.
                      </li>
                      <li>
                        <strong>Personalized Scripts:</strong>
                        Manipulate the campaign database to personalize scripts,
                        adding triggers to branch scripting for a customized
                        customer experience.
                      </li>
                      <li>
                        <strong>Business Outcome Management:</strong>
                        Generate actionable insights that complement operational
                        performance statistics, linking scripts directly to
                        business outcomes.
                      </li>
                      <li>
                        <strong>Third-Party Integration:</strong>
                        Utilize third-party software as your agent scripting
                        interface, allowing for seamless integration and
                        expanded functionality.
                      </li>
                    </ul>
                  </div>
                </div>
                <div id="tab3" class="tab-pane fade">
                  <div class="stay-connected-cont">
                    <h4 class="f-p">Digital Recording</h4>
                    <p>
                      Kunnect provides digital call recording for all customers
                      at no extra cost, ensuring you meet industry requirements
                      and maintain a secure record of every interaction. Here's
                      what our call recording solution offers:
                    </p>
                    <ul>
                      <li>
                        <strong>Real-Time Storage:</strong>
                        All recordings are stored on a secure, client-accessible
                        FTP site in real-time and are available for 30 days.
                        Customers can download recordings to their own
                        repository at any time.
                      </li>
                      <li class="inner-list">
                        <strong>Three Recording Options:</strong>
                        <span>100% call recording for outbound campaigns.</span>
                        <span>100% call recording for inbound campaigns.</span>
                        <span>
                          Agent-initiated call recordings with on/off
                          capability.
                        </span>
                      </li>
                      <li>
                        <strong>Detailed Call Information:</strong>
                        Each recording is stored with essential details such as
                        the telephone number, date and time stamp, unique
                        identifier, and campaign name for easy reference and
                        compliance.
                      </li>
                      <li>
                        <strong>FTC Compliance:</strong>
                        As call recording becomes an industry requirement
                        mandated by the FTC, Kunnect's solution ensures you stay
                        compliant, supporting your long-term success.
                      </li>
                    </ul>
                  </div>
                </div>
                <div id="tab4" class="tab-pane fade">
                  <div class="stay-connected-cont">
                    <h4 class="f-p">FTC Compliance</h4>
                    <p>
                      Navigating compliance with the Telemarketing Sales Rule
                      (TSR) can be complex, but Kunnect provides an innovative
                      solution to ensure your outbound campaigns stay within
                      legal limits without sacrificing performance:
                    </p>
                    <ul>
                      <li>
                        <strong>Compliance with Drop Rate Limits:</strong>
                        We offer the ability to cap your outbound campaigns to
                        the prescribed 3% drop rate limit, ensuring compliance
                        with TSR regulations.
                      </li>
                      <li>
                        <strong>Maintained Efficiency:</strong>
                        Unlike other systems that may increase wait times or
                        reduce contacts per hour, Kunnect maintains average wait
                        times below 30 seconds and ensures over 25 right-party
                        contacts per hour.
                      </li>
                      <li>
                        <strong>Avoid Penalties:</strong>
                        If you're using outdated, premise-based predictive
                        dialers, you could be at risk of significant penalties.
                        Kunnect's advanced dialer keeps you compliant while
                        enhancing your dialing efficiency.
                      </li>
                      <li>
                        <strong>Proactive Compliance Support:</strong>
                        Our system is designed to help you stay ahead of
                        regulatory changes, protecting your business from
                        potential risks and penalties.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-transform-customer-service class="spa0 col-12" />
    <app-book-consultation [title]="title" class="spa0 col-12" />
  </div>
</div>
