.solutions-page {
  &-banner {
    position: relative;
    padding: 0;
    height: 620px;
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;
      z-index: 1;
      background: linear-gradient(
        103.99deg,
        #ba98ec 2.47%,
        #7540c4 12.47%,
        #3c275d 31.48%,
        #8fc44c 57.49%,
        #4e2290 85.51%,
        #7540c4 100.51%
      );

      opacity: 0.5;
    }
    video {
      width: 100%;
      object-fit: cover;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
      height: 620px;
    }
    .inner-banner {
      position: relative;
      z-index: 3;
      color: white;
      padding: 72px 0 100px 0;
      span {
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
        background: linear-gradient(
          90deg,
          rgba(143, 196, 76, 0.5) 0%,
          rgba(143, 196, 76, 0) 73.5%
        );
        padding: 8px;
        display: inline-flex;
        border-radius: 5px;
      }
      h2 {
        font-size: 55px;
        line-height: 60px;
        font-weight: 600;
        width: 50%;
        margin: 20px 0 20px 0;
      }
      p {
        font-size: 16px;
        line-height: 20px;
        width: 48%;
        margin: 0 0 30px 0;
      }
    }
  }
  .title {
    text-align: center;
    padding: 72px 60px 50px 60px;
    h2 {
      font-size: 48px;
      line-height: 58px;
      font-weight: 500;
      margin: 0;
    }
  }
  .cm-row {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    .cm-col {
      display: inline-flex;
      width: calc(33.3% - 30px);
      box-shadow: 15px 15px 69.5px 16px #85779a26;
      min-height: 195px;
      position: relative;
      border-radius: 30px;

      &:before {
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(
          138deg,
          #8fc44c 1%,
          #d2f7a3 51%,
          #8fc44c 100%
        );
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 30px;
        z-index: 1;
      }
      .cont {
        position: relative;
        z-index: 3;
        background: linear-gradient(
          88deg,
          rgba(243, 253, 244, 1) 10%,
          rgba(226, 244, 234, 1) 90%
        );
        padding: 56px 40px 0 40px;
        border-radius: 30px;
        margin: 3px;
        p {
          font-size: 20px;
          line-height: 26px;
          font-weight: 500;
        }
      }
      &:hover {
        .cont {
          background: linear-gradient(
            88deg,
            rgba(243, 253, 244, 1) 10%,
            rgba(226, 244, 234, 0.8) 90%
          );
        }
      }
    }
  }
  .client-logos {
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 120px 0 74px 0;
    .label-txt {
      display: inline-flex;
      text-wrap-mode: nowrap;
      padding-right: 60px;
      h4 {
        margin: 0;
        font-weight: 500;
        font-size: 32px;
        line-height: 38px;
      }
    }
  }
  .logo-slider {
    display: flex;
    align-items: center;
    gap: 40px;
    overflow: hidden;
    .item {
      animation: imagesSlideAnimate 60s linear infinite;
      img {
      }
    }
    &:hover .item {
      animation-play-state: paused;
    }
  }
  @keyframes imagesSlideAnimate {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-1800px, 0, 0);
    }
  }

  .stay-connected {
    padding-top: 90px;
    padding-bottom: 90px;
    .title {
      padding: 0 70px 72px 80px;
      p {
        color: #7540c4;
        font-size: 24px;
        line-height: 30px;
        margin: 0;
        font-weight: 500;
      }
    }
    &-cont {
      background: white;
      padding: 54px 72px;
      border-radius: 15px;
      font-size: 16px;
      line-height: 22px;
      font-family: "Montserrat", sans-serif;
      h4 {
        font-size: 32px;
        line-height: 42px;
        font-weight: 400;
        margin: 0 0 40px 0;
      }
      p {
        margin: 0 0 24px 0;
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      li {
        position: relative;
        margin-bottom: 20px;
        padding-left: 32px;
        &::before {
          content: "";
          background: url(../../assets/images/check-icon.svg);
          position: absolute;
          left: 0;
          top: 0;
          height: 22px;
          width: 22px;
        }
        &:last-child {
          margin-bottom: 0;
        }
        strong {
          font-weight: 600;
        }
        &.inner-list span {
          display: list-item;
          list-style-type: disc;
          margin: 5px 0 0 20px;
        }
      }
    }
  }
  @media (max-width: 1199px) {
    &-banner {
      height: 500px;
      .inner-banner h2 {
        font-size: 40px;
        line-height: 56px;
      }
      p {
        font-size: 20px;
      }
      video {
        height: 500px;
      }
    }

    .title h2 {
      font-size: 36px;
      line-height: 50px;
    }
  }
  @media (max-width: 991px) {
    &-banner {
      .inner-banner h2 {
        font-size: 30px;
        line-height: 36px;
      }
      p {
        font-size: 18px;
        line-height: 26px;
      }
    }
    .title {
      h2 {
        font-size: 24px;
        line-height: 36px;
      }
    }
    .client-logos {
      padding: 60px 0 50px 0;
      .label-txt h4 {
        font-size: 24px;
        line-height: 36px;
      }
    }
    .cm-row {
      gap: 20px;
      .cm-col {
        width: calc(50% - 10px);
      }
    }
    .stay-connected {
      padding-top: 50px;
      padding-bottom: 50px;
      .title {
        padding: 0 40px 40px 40px;
        p {
          font-size: 18px;
          line-height: 26px;
        }
      }
    }
    .custom-tabs {
      .nav-tabs .nav-link {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
  @media (max-width: 767px) {
    &-banner {
      .inner-banner h2 {
        font-size: 24px;
        line-height: 26px;
      }
      p {
        font-size: 14px;
        line-height: 22px;
      }
    }
    .title {
      h2 {
        font-size: 24px;
        line-height: 36px;
      }
    }
    .stay-connected {
      .title {
        padding: 0 0px 20px 0;
        p {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
    .client-logos {
      padding: 60px 0 50px 0;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      .label-txt h4 {
        font-size: 24px;
        line-height: 36px;
      }
      .logo-slider img {
        max-height: 15px;
      }
    }
    .cm-row {
      .cm-col {
        min-height: inherit;
        .cont {
          padding: 24px;
          p {
            margin: 0;
            font-size: 14px;
            line-height: 22px;
          }
        }
      }
    }

    .custom-tabs.vertical-tabs {
      .nav-tabs {
        flex-direction: row;
        gap: 15px;
        margin-bottom: 30px;
        .nav-item {
          width: auto;
        }
      }
    }
    .stay-connected-cont {
      padding: 20px;
      h4 {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 15px;
      }
    }
  }
  @media (max-width: 576px) {
    &-banner {
      .inner-banner {
        h2,
        p {
          width: 90%;
        }
        h2 {
          font-size: 20px;
          line-height: 28px;
        }
      }
    }
    .title {
      padding: 25px 10px;
      h2 {
        font-size: 20px;
        line-height: 28px;
      }
    }
    .cm-row {
      .cm-col {
        width: 100%;
        .cont {
          width: 100%;
        }
      }
    }
    .custom-tabs.vertical-tabs {
      .nav-tabs {
        .nav-item {
          width: calc(50% - 20px);
        }
      }
    }
  }
}
